# 🧱 Dependencias
node_modules/

# ⚙️ Archivos de compilación / build
dist/
web-build/
build/
expo-env.d.ts

# 📦 Expo
.expo/
.expo-shared/

# ⚙️ Archivos nativos generados
ios/
android/

# 💡 Configuración temporal / estado
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# 🧩 Archivos de entorno (NO subir API keys, etc.)
.env
.env*.local

# 🧰 Tipos y caché de TypeScript
*.tsbuildinfo

# 🧼 macOS / SO
.DS_Store

# 🔒 Claves, certificados o perfiles
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# 🧪 Archivos temporales o ejemplos
app-example/
temp/
.tmp/

# 🧩 Logs y reportes
*.log

# 🚫 Carpetas de pruebas locales
/.idea
/.vscode

# 🧑‍💻 Archivos de empaquetado
package-lock.json
yarn.lock
